 {% extends "layouts/home_app.html" %} {% block title %} Welcome {% endblock title %} {% block styles %} {% endblock styles %} {% block content %}

<!-------HERO SECTION-->
<div id="heroslider" class="carousel carousel-fade" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active item-1 bg-parallax">

        </div>

        <div class="carousel-item item-2 bg-parallax">

        </div>
    </div>

</div>
<div id="hero-content">
    <div class="container">
        <div class="content1">
            <p class="title text-uppercase">Join over 2.000.000 and to INVEST AND GET PAID INSTANTLY</p>
            <h3>START Investments TODAY!</h3>
            <p class="second">It’s super simple . As soon as you’ve set up your account, you can start to invest !

            </p>
            <div class="buttons">

                <a href="/sign-up" class="btn btn-primary mr-3 "><span class="txt">Get Started</span></a>

                <a href="/pricing" class="btn btn-warning "><span class="txt">Pricing</span></a>


            </div>
        </div>
    </div>
</div>
<!-------HERO SECTION-->
<script src="/assets/js/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>

<!--====ABout Section===-->
<section class="section about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-box">
                    <img src="/assets/images/bg5.jpg" alt="ABOUT US">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-section-container">
                    <h6 class="title">WHO ARE WE</h6>
                    <h3>Working Together To Deliver Growth To Your Investments.</h3>
                    <p>We bring the right people together to challenge established thinking and drive transformation. We work with our clients to build the capabilities that enable organizations to achieve sustainable advantage.</p>
                    <a href="#" class="btn btn-primary"><span class="txt">Read more</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====ABout Section===-->



<!--====How It Wors Section===-->
<section class="section gray hts-section">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">How To<span>become </span> an investor</h2>
                <div class="title-head-subtitle">
                    <p class="text-muted">a commercial website that lists wallets, exchanges and other bitcoin related info</p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->

        <div class="row">
            <div class="col-md-4 hts-box wow fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hts-box-icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Register</h3>
                        <p>Sign up for an account , confirm your email address to login and update your profile.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hts-box wow fadeInDown">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hts-box-icon">
                            <i class="fas fa-credit-card"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Fund Account</h3>
                        <p>Fund Your Account With cryptocurrency.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hts-box wow fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hts-box-icon">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Invest To A Plan</h3>
                        <p>Choose a plan that best suite you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====How It Wors Section===-->
<!--====  Section1===-->
<section class="section section1">
    <div class="container">
        <div class="row clearfix">

            <!-- Service Block Two -->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <div class="border-one"></div>
                    <div class="border-two"></div>
                    <div class="icon-box">
                        <span class="icon fas fa-phone"></span>
                    </div>
                    <h4>24/7 Support</h4>
                    <div class="text">Our customer service unit is always available 24/7 to attend to your needs/querries.</div>
                </div>
            </div>

            <!-- Service Block Two -->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="border-one"></div>
                    <div class="border-two"></div>
                    <div class="icon-box">
                        <span class="icon fas fa-edit"></span>
                    </div>
                    <h4>FAST PAYOUT</h4>
                    <div class="text"> You will receive your promised ROI at the end of your investment.</div>
                </div>
            </div>

            <!-- Service Block Two -->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="border-one"></div>
                    <div class="border-two"></div>
                    <div class="icon-box">
                        <span class="icon fas fa-suitcase"></span>
                    </div>
                    <h4>INSTANT TRADING</h4>
                    <div class="text">Create an account with our platform, make a deposit and start trading immediately.</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====  Section1===-->

<!--====  Static===-->
<section class="section onlinestat-section  bg-overlay-primary set-bg" data-bg="/assets/images/bg6.jpg">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head" style="color: white;">Online <span>Stats </span> </h2>
                <div class="title-head-subtitle">
                    <p class="text-muted"></p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4">
                        <div class="stat-item">


                            <h3>$2458402 <span>+</span></h3>
                            <hr>
                            <p>DEPOSITS</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat-item">
                            <h3>$2458402 <span>+</span></h3>
                            <hr>
                            <p>withdraw</p>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="stat-item">

                            <h3>$2458402 <span>+</span></h3>
                            <hr>
                            <p>accounts</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--====  Static===-->

<!-- services section  end-->
<section class="section services-section">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head"> <span>Services </span> </h2>
                <div class="title-head-subtitle">
                    <p class="text-muted">We are consistently rated the best and most secure cryptocurrency trading platform.</p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->
        <div class="row  clearfix">



            <div class="col-lg-6 col-md-12 col-sm-12 ">

                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="feature p-3 py-5 rounded text-left ">
                            <i class=" fas h1 text-primary"></i>
                            <div class="content">
                                <h4 class="title mt-3">Client-Centered</h4>
                                <p class="text-muted mt-2 mb-0">At our firm, the client always comes first. We are in this business to serve others and make a positive impact on their lives. With a passion for helping people, we enjoy building lifelong relationships with our clients
                                    and guiding them along their financial path.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="feature second p-3 py-5 mt-4 rounded text-left">
                            <i class=" fas h1 text-primary"></i>
                            <div class="content">
                                <h4 class="title mt-3">Independent</h4>
                                <p class="text-muted mt-2 mb-0">As an independent firm, we are not confined to proprietary products or sales quotas. Rather than focus on selling products, we are more concerned with building relationships and creating thorough and comprehensive financial
                                    strategies that address your short and long-term goals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="feature p-3 py-5 mt-4 rounded text-left">
                            <i class="   h1 text-primary"></i>
                            <div class="content">
                                <h4 class="title mt-3">Advanced Technology</h4>
                                <p class="text-muted mt-2 mb-0">We utilize advanced, This tool provides us with the ability to show you real-time financial planning and interactive scenarios of various financial outcomes, depending on how you choose to invest or what goals you want
                                    to achieve.</p>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="space-top"></div>


                <p class="medium-paragraph mt-5">
                    AFRICGOLD is a dual-purpose platform made up of subsidiaries that provide an opportunity to utilize AFGOLD Virtual mining technique, which is intended for evaluating mining revenue and as well as conversion of AFGOLD units to real word money and cash
                    out as at when due.
                </p>
                <div class="about-item-area ml-b-30">
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="las la-database"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Performance</h3>
                            <p>Ultimate performance at low cost</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-globe"></i> </div>
                        <div class="about-details">
                            <h3 class="title">World Wide Mining</h3>
                            <p>Servicing thousands of users from many countries</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-coins"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Multiple Cryptocurrencies</h3>
                            <p>We are offering mining for the next generation coin.</p>
                        </div>
                    </div>
                </div>

            </div>





        </div>

    </div>
</section>
<!-- services section  end-->

<!-- pricing section  -->
<section class="pricing section">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">Investment <span>Plan</span></h2>
                <div class="title-head-subtitle">
                    <p>Choose a plan that best suite you</p>
                </div>
            </div>


        </div>
        <!-- Section Title Ends -->
        <div class="row justify-content-center">

            <div class="col-lg-3 col-10">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Sylver</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $100 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $499 </li>
                        <li><i class="fa fa-check-circle"></i> 15% After 6 Days</li>
                        <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
                        <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
                    </ul>
                    <a class="btn btn-primary btn-block" href="/sign-up">Signup</a>
                </div>

            </div>
            <div class="col-lg-3 col-10">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Diamond</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $5000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $19999 </li>
                        <li><i class="fa fa-check-circle"></i> 18% After 6 Days</li>
                        <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
                        <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
                    </ul>
                    <a class="btn btn-primary btn-block" href="/sign-up">Signup</a>
                </div>

            </div>
            <div class="col-lg-3 col-10">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Gold</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $20000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : $30000 </li>
                        <li><i class="fa fa-check-circle"></i> 28% After 6 Days</li>
                        <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
                        <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
                    </ul>
                    <a class="btn btn-primary btn-block" href="/sign-up">Signup</a>
                </div>

            </div>

        </div>
        <div class="row justify-content-center">

            <div class="col-lg-3 col-10">
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="title">Executive</h3>
                    </div>
                    <ul class="pricing-content unstyled">
                        <li><i class="fa fa-check-circle"></i>Min Amount : $30000 </li>
                        <li><i class="fa fa-check-circle"></i>Max Amount : Unlimited </li>
                        <li><i class="fa fa-check-circle"></i> 40% After 6 Days</li>
                        <li><i class="fa fa-check-circle"></i>Referral Comission 10%</li>
                        <!--<li><i class="fa fa-check-circle"></i>Daily Signals</li>-->
                    </ul>
                    <a class=" btn btn-primary btn-block" href="/sign-up">Signup</a>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- pricing section  end-->

<!-- calculator section  -->
<section class="section btc-calculator">
    <div class="container">
        <div class="row clearfix">
            <div class="price-block active col-lg-4 col-md-4 col-sm-12">
                <script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
                <coingecko-coin-converter-widget coin-id="bitcoin" currency="usd" background-color="#004080" font-color="#4c4c4c" locale="en" vce-ready=""></coingecko-coin-converter-widget>
            </div>
            <!---- <div class="price-block active col-lg-8 col-md-8 col-sm-12">
                        <TradingView Widget BEGIN 
                        <div class="tradingview-widget-container" style="width: 770px; height: 400px;">
                            <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/embed-widget/forex-cross-rates/?locale=en#%7B%22width%22%3A770%2C%22height%22%3A400%2C%22currencies%22%3A%5B%22EUR%22%2C%22JPY%22%2C%22GBP%22%2C%22CHF%22%2C%22AUD%22%2C%22CAD%22%2C%22NZD%22%2C%22CNY%22%5D%2C%22isTransparent%22%3Afalse%2C%22colorTheme%22%3A%22dark%22%2C%22utm_source%22%3A%22royallinvest.ltd%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22forex-cross-rates%22%7D"
                                style="box-sizing: border-box; height: calc(368px); width: 770px;"></iframe>
                            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/forex-cross-rates/" rel="noopener" target="_blank"><span class="blue-text">Forex Rates</span></a> by TradingView</div>

                            <style>
                                .tradingview-widget-copyright {
                                    font-size: 13px !important;
                                    line-height: 32px !important;
                                    text-align: center !important;
                                    vertical-align: middle !important;
                                    font-family: 'Trebuchet MS', Arial, sans-serif !important;
                                    color: #9db2bd !important;
                                }
                                
                                .tradingview-widget-copyright .blue-text {
                                    color: #2962FF !important;
                                }
                                
                                .tradingview-widget-copyright a {
                                    text-decoration: none !important;
                                    color: #9db2bd !important;
                                }
                                
                                .tradingview-widget-copyright a:visited {
                                    color: #9db2bd !important;
                                }
                                
                                .tradingview-widget-copyright a:hover .blue-text {
                                    color: #1E53E5 !important;
                                }
                                
                                .tradingview-widget-copyright a:active .blue-text {
                                    color: #1848CC !important;
                                }
                                
                                .tradingview-widget-copyright a:visited .blue-text {
                                    color: #2962FF !important;
                                }
                            </style>
                        </div>
                        <-- TradingView Widget END >
                    </div-->
        </div>
    </div>
</section>
<!-- calculator section  end-->
<!-- testimony section  -->
<section class="setion set-bg testimony-section" data-bg="/assets/images/bg3.png">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head mt-5">What <span>Client </span>Say </h2>
                <div class="title-head-subtitle">
                    <p class="text-muted">Testimonies.</p>
                </div>
            </div>

        </div>
        <!-- Section Title Ends -->
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-carousel1 owl-theme">
                    <div>
                        <div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300" alt="">
                            <div class="card-body">
                                <h5>Ronne Galle <br />
                                    <span> Project Manager </span>
                                </h5>
                                <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat ” </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301" alt="">
                            <div class="card-body">
                                <h5>Missy Limana<br />
                                    <span> Engineer </span>
                                </h5>
                                <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat ” </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302" alt="">
                            <div class="card-body">
                                <h5>Martha Brown<br />
                                    <span> Project Manager </span>
                                </h5>
                                <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat ” </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card text-center"><img class="card-img-top" src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303" alt="">
                            <div class="card-body">
                                <h5>Hanna Lisem<br />
                                    <span> Project Manager </span>
                                </h5>
                                <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat ” </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimony section  end-->

<!-- expert section  -->
<section class="section expert-section">
    <div class="container">
        <!-- Section Title Starts -->
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <h2 class="title-head">Our <span>Expert</span></h2>
                <div class="title-head-subtitle">
                    <p>A TALENTED TEAM OF CRYPTOCURRENCY EXPERTS BASED IN LONDON</p>
                </div>
            </div>


        </div>
        <!-- Section Title Ends -->
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <!-- Team Member Picture Starts -->
                    <img src="/assets/images/member1.jpg" class="img-responsive" alt="team member">
                    <!-- Team Member Picture Ends -->
                    <!-- Team Member Details Starts -->
                    <div class="team-member-caption social-icons">
                        <h4>Lina Marzouki</h4>
                        <p>Ceo Founder</p>

                    </div>
                    <!-- Team Member Details Ends -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <!-- Team Member Picture Starts -->
                    <img src="/assets/images/member2.jpg" class="img-responsive" alt="team member">
                    <!-- Team Member Picture Ends -->
                    <!-- Team Member Details Starts -->
                    <div class="team-member-caption social-icons">
                        <h4>Marco Verratti</h4>
                        <p>Director</p>

                    </div>
                    <!-- Team Member Details Ends -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <!-- Team Member Picture Starts -->
                    <img src="/assets/images/member3.jpg" class="img-responsive" alt="team member">
                    <!-- Team Member Picture Ends -->
                    <!-- Team Member Details Starts -->
                    <div class="team-member-caption social-icons">
                        <h4>Emilia Bella</h4>
                        <p>Bitcoin Consultant</p>

                    </div>
                    <!-- Team Member Details Ends -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <!-- Team Member Picture Starts -->
                    <img src="/assets/images/member4.jpg" class="img-responsive" alt="team member">
                    <!-- Team Member Picture Ends -->
                    <!-- Team Member Details Starts -->
                    <div class="team-member-caption social-icons">
                        <h4>Antonio Conte</h4>
                        <p>Bitcoin Developer</p>

                    </div>
                    <!-- Team Member Details Ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- expert section  end-->




{% endblock content %} {% block scripts %} {% endblock scripts %}