{% extends "layouts/home_app.html" %} {% block title %} Services {% endblock title %} {% block styles %} {% endblock styles %} {% block content %}

<!-------HERO SECTION-->
<div id="banner" class="carousel carousel-fade" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active item-1  ">

        </div>

        <div class="carousel-item item-2  ">

        </div>
    </div>

</div>
<div id="banner-content">
    <div class="container">
        <div class="content1">
            <div class="row">
                <div class="col-lg-10">
                    <div class="breadcrumb-area">
                        <h2 class="title">
                            Services
                        </h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------HERO SECTION-->
<script src="/assets/js/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#444444" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>


<!--====  Section1===-->
<section class="section section1">
    <div class="container">
        <div class="row clearfix">

            <!-- Service Block Two -->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <div class="border-one"></div>
                    <div class="border-two"></div>
                    <div class="icon-box">
                        <span class="icon fas fa-phone"></span>
                    </div>
                    <h4>24/7 Support</h4>
                    <div class="text">Our customer service unit is always available 24/7 to attend to your needs/querries.</div>
                </div>
            </div>

            <!-- Service Block Two -->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="border-one"></div>
                    <div class="border-two"></div>
                    <div class="icon-box">
                        <span class="icon fas fa-edit"></span>
                    </div>
                    <h4>FAST PAYOUT</h4>
                    <div class="text"> You will receive your promised ROI at the end of your investment.</div>
                </div>
            </div>

            <!-- Service Block Two -->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="border-one"></div>
                    <div class="border-two"></div>
                    <div class="icon-box">
                        <span class="icon fas fa-suitcase"></span>
                    </div>
                    <h4>INSTANT TRADING</h4>
                    <div class="text">Create an account with our platform, make a deposit and start trading immediately.</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====  Section1===-->
<!-- services section  end-->
<section class="section services-section">
    <div class="container">
        <!-- Section Title Starts -->
        <!--<div class="row justify-content-center text-center">
                    <div class="col-lg-10">
                        <h2 class="title-head"> <span>Services </span> </h2>
                        <div class="title-head-subtitle">
                            <p class="text-muted">We are consistently rated the best and most secure cryptocurrency trading platform.</p>
                        </div>
                    </div>

                </div>-->
        <!-- Section Title Ends -->
        <div class="row  clearfix">



            <div class="col-lg-6 col-md-12 col-sm-12 ">

                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="feature p-3 py-5 rounded text-left ">
                            <i class=" fas h1 text-primary"></i>
                            <div class="content">
                                <h4 class="title mt-3">Client-Centered</h4>
                                <p class="text-muted mt-2 mb-0">At our firm, the client always comes first. We are in this business to serve others and make a positive impact on their lives. With a passion for helping people, we enjoy building lifelong relationships with our clients
                                    and guiding them along their financial path.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="feature second p-3 py-5 mt-4 rounded text-left">
                            <i class=" fas h1 text-primary"></i>
                            <div class="content">
                                <h4 class="title mt-3">Independent</h4>
                                <p class="text-muted mt-2 mb-0">As an independent firm, we are not confined to proprietary products or sales quotas. Rather than focus on selling products, we are more concerned with building relationships and creating thorough and comprehensive financial
                                    strategies that address your short and long-term goals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="feature p-3 py-5 mt-4 rounded text-left">
                            <i class="   h1 text-primary"></i>
                            <div class="content">
                                <h4 class="title mt-3">Advanced Technology</h4>
                                <p class="text-muted mt-2 mb-0">We utilize advanced, This tool provides us with the ability to show you real-time financial planning and interactive scenarios of various financial outcomes, depending on how you choose to invest or what goals you want
                                    to achieve.</p>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="space-top"></div>


                <p class="medium-paragraph mt-5">
                    AFRICGOLD is a dual-purpose platform made up of subsidiaries that provide an opportunity to utilize AFGOLD Virtual mining technique, which is intended for evaluating mining revenue and as well as conversion of AFGOLD units to real word money and cash
                    out as at when due.
                </p>
                <div class="about-item-area ml-b-30">
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="las la-database"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Performance</h3>
                            <p>Ultimate performance at low cost</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-globe"></i> </div>
                        <div class="about-details">
                            <h3 class="title">World Wide Mining</h3>
                            <p>Servicing thousands of users from many countries</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-coins"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Multiple Cryptocurrencies</h3>
                            <p>We are offering mining for the next generation coin.</p>
                        </div>
                    </div>
                </div>

            </div>





        </div>

    </div>
</section>
<!-- services section  end-->





{% endblock content %} {% block scripts %} {% endblock scripts %}